{% extends "base_login.html" %} {% block content %}

<title>Homework Alarm!</title>

<section class="vh-100">
  <div class="container d-flex justify-content-center py-5 h-100">
    <div class="row align-items-center h-100">
      <div class="col">
        <div class="card" style="border-radius: 1rem">
          <div class="row justify-content-center">
            <div class="col align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form action="login" method="post">
                  {% csrf_token %}
                  <div
                    class="d-flex align-items-center justify-content-center mb-3 pb-1"
                  >
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <span class="h1 fw-bold mb-0"
                      ><img
                        src="https://img.icons8.com/nolan/64/user-male-circle.png"
                    /></span>
                  </div>
                  

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="Email"
                      class="form-control form-control-lg"
                      name="email"
                    />
                    <label class="form-label" for="Email"
                      >Email</label
                    >
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="Password"
                      class="form-control form-control-lg"
                      name="password"
                    />
                    <label class="form-label" for="Password"
                      >Password</label
                    >
                  </div>
                  

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">
                      Login
                    </button>
                  </div>

                </form>
                <div class="pt-1 mb-4">
                    <a href="/signup_teacher">
                    <button class="btn btn-dark btn-lg btn-block" >
                      Signup Teacher
                    </button>
                    </a>
                  </div>
                  <div class="pt-1 mb-4">
                    <a href="/signup_student">
                    <button class="btn btn-dark btn-lg btn-block" >
                      Signup Student
                    </button>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}